.top-main-content{
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  padding: 15px 15px 15px 55px;  font-size: 20px;
  width: 100vw;
}
.main-content{
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 15px auto;
  flex-direction: column;
  align-items: stretch;
  font-family: "proxima-nova","helvetica","arial","sans";
  font-weight: 100;
}

.footer-section{
  color: #828386;
  letter-spacing: .08em;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 12px;
}

.footer-section span{
  font-size: 20px;
}

/*.main-info-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1200px;
  width:85%;
  height: 95%;
  margin: 30px auto;
}*/


.main-content-container section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  margin:30px auto;
}

.main-content h6,.main-content h5{
  border-bottom: black 4px solid;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
  margin: 20px;
}

.main-content h6{
  width: 250px;

}

.main-content h5{
  width: 115px;
}

.row-1{
  height: 125px;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: .05em;
  font-family: "proxima-nova","helvetica","arial","sans";
}

.row-2, .row-4, .row-5, .row-7{
  height: 200px;
  background-size: cover;
  background-position: center;
}

.row-3{
  background-color: #fff;
  font-size: 15px;
  line-height: 1.368em;
  letter-spacing: .05em;
  padding: 20px;
}

.row-4{
  height: 200px;
  background-color: blue;

}

.row-5{
  height: 200px;
}

.row-6{
  font-family: "proxima-nova","helvetica","arial","sans";
  font-weight: 100;
  font-size: 18px;
  background-color: #fff;
}

.row-6 div{
  padding: 15px;
}

.row-6 div p{
  border-bottom: 3px solid black;
  display: table;
}

.row-8{
  background-color: #fff;
}
.list-container li{
  list-style: none;
  align-items: flex-start;
  text-align: left;
  width: 50%;
  padding: 0px 0px 20px 20px;
}

.list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-content-container footer{
  display: flex;
  flex-direction: column;
  background-color: #231F20;
}



.footer-section{
   padding: 20px;
}
