*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

.main-headline{
  background-image: url(giphy.gif);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

.main-content-container{
  /*background-image: url(dea.gif);*/
  /*background-size: cover;*/
  background: #E3DFDB;
  /*background-attachment: fixed;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  width: 100vw;
  height: 300vh;
}

.row-2{
  background-image: url('75824f817dc9d22eb00f99faec33d358.jpg');
}

.contact-container{
  background-image: url(g.gif);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.form-container{
  background-image: url(b.gif);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

@@font-face {
  font-family:bond;
  src:url(jb.tff);
}

@font-face {
  font-family: starWars;
  src: url(STARWARS.woff);
}

.forms-footer-text{
  font-family: bond;

}

.grid{
  font-family: starWars;
}

.top-main-content{
  font-family: starWars;
    display: flex;
    justify-content: center;
}
